<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.AsdfDao">
    
	  
     
     <select id="findAsdf" resultType="com.demo.entity.Asdf"  >
     
     select id,name ,value ,valid  from Demo 
     
     </select>
     
      <select  id="findAsdfById" resultType="com.demo.entity.Asdf"  parameterType="map" >
     
     select id,name ,value ,valid  from Demo 
     
     where id=#{id}
     
     </select>
      <select id="findAsdfByIdForUpdate" resultType="com.demo.entity.Asdf"  parameterType="map" >
     
     select id,name ,value ,valid  from Demo 
     
     where id=#{id} for update
     
     </select>
     
     
        <insert id="insertAopDemo" parameterType="map">
      insert into demo (name,value)
     values (#{name},#{value})
      </insert>
        <insert id="insertDemo" parameterType="com.demo.entity.Asdf">
      insert into demo (name,value,valid)
      values (#{name},#{value},#{valid})
      </insert>
      
         <insert id="insertBatchDemo" parameterType="com.demo.entity.Asdf">
      insert into demo (name,value ,createTime)
      values
       <foreach collection="list" item="temp" separator=",">
       (#{temp.name},#{temp.value} ,now() )
       </foreach>
      </insert>
   <!--    <insert id="insertBatchDemo2" parameterType="map">
      insert into demo (name,value ,createTime)
      values
       <foreach collection="list" item="temp" separator=",">
       (#{temp.name},#{temp.value} ,#{temp.createTime} )
       </foreach>
      </insert> -->
      
      
   
     <update id="subtractValid" parameterType="map">
     update demo d set d.valid=d.valid-#{period}
     where d.id=#{id} and d.valid-#{period} >=0
     </update>
    <update id="plusValidAddPeriod" parameterType="map">
     update demo d set d.valid=d.valid+#{period}
     where d.id=#{id} 
     </update>
   <update id="plusValidSetPeriod" parameterType="map">
     update demo d set d.valid=#{period}
     where d.id=#{id} 
     </update>
   
</mapper>